*{
    margin:0;
}
body{
    background-color: #fceabb;
}
.navbar{
   
    list-style-type: none;
    text-align: right;
    margin-right: 10px;
}
.navbar li{
    display: inline-block;
  font-size: 20px;
  padding: 20px;
}
.navbar a{
    text-decoration: none;
    color:black;
    font-size: 20px;
}
.navbar li:hover{
    background-color: #f8b500;
    font-weight:20px;
    border-radius: 5px;
}
.first-section{
    display: flex;
}
.content{
    width: 50%;
}
.content h1{
    font-family: 'Montserrat', sans-serif;
    margin-left: 100px;
    margin-top: 50px;
    font-size: 50px;
    font-weight: bolder;
}
.content p{
    font-family: 'Montserrat', sans-serif;
    margin-left: 100px;
    margin-top: 30px;
    font-size: 22px;
}
.content a{
    font-family: 'Montserrat', sans-serif;
    margin-left: 100px;
    margin-top: 50px;
    font-size: 22px;
    text-decoration: none;
    color:black;
    border-radius: 23px;
    background-image: linear-gradient(#fceabb,#f8b500);
    padding: 15px;
    box-shadow: 10px 10px 30px #F2C94C;
}
.content span{
    color:chocolate;
}
.image{
    width:50%;
}
.image img{
    width: 100%;
}